<div id='events' data-controller='index update destroy'
    data-index-url-value='/api/v1/events' data-destroy-url-value='/api/v1/events'
    data-index-offset-value=0 data-index-limit-value=10>
  <template data-index-target='template'>
    <div class='col'>
      <div class='card'>
        <img class='img-fluid' data-nxt-image_url>
        <div class='card-body'>
          <a href='#' data-nxt-link_><h5 class='card-title' data-nxt-title></h5></a>
          <h6 class='card-subtitle mb-2 text-muted' data-nxt-datetime></h6>
          <h6 class='card-subtitle mb-2 text-muted' data-nxt-address></h6>
          <p class='card-text' data-nxt-description></p>
        </div>
        <div class='d-flex align-content-center justify-content-between card-footer'>
          <p class='m-0'><small class='text-muted'>Last updated <span data-nxt-updated_at></span></small></p>
          <div class='dropdown'>
            <button class='btn-sm btn-secondary' data-bs-toggle='dropdown'>
              <i class='bi bi-three-dots-vertical'></i>
            </button>
            <ul class='dropdown-menu'>
              <li><a class='dropdown-item' data-nxt-box_office_url>Download Box Office</a></li>
              <li><hr class='dropdown-divider'></li>
              <li><a class='dropdown-item' data-action='destroy#destroyByValue' data-nxt-id data-nxt-nomod>Delete</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </template>
  <div class='d-flex justify-content-end'>
    <label class='me-2' for='size'>Number of results:</label>
    <select id='size' data-index-target='limit' data-action="index#updateLimit">
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
  </div>
  <div class="container">
    <div class='row row-cols-3'>
      <div data-index-target='dom'></div>
      <div class='col'>
        <div class='card text-center align-items-center'>
          <div class='card-body'>
            <p class='card-text'><i class='bi bi-plus'></i>Add Event</p>
            <a href='/events/create_event' class='stretched-link'></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='d-flex justify-content-between'>
    <div>
      <button><i class='bi bi-chevron-double-left'></i></button>
      <button data-action='index#decrementOffset'><i class='bi bi-chevron-left'></i></button>
      <button data-action='index#incrementOffset'><i class='bi bi-chevron-right'></i></button>
      <button><i class='bi bi-chevron-double-right'></i></button>
    </div>
  </div>
</div>
