<form method="post" action="http://localhost:3000/events/<%= params[:event_id] %>/seating_types">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="field form-group">
    <label>Seat Category</label>
    <input type="text" name="category">
  </div>
  <div class="field form-group">
    <label>Total seat count</label>
    <input type="number" name="total_count">
  </div>
  <button type="submit" value="submit" class="button">Create Seat</button>
</form>
